@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-OgdqWsgEOf5a: 16px;
  --plasmic-token-h-2: var(--token-OgdqWsgEOf5a);
  --token-VMQJ9K_NViam: #2a2b37;
  --plasmic-token-neutral-900: var(--token-VMQJ9K_NViam);
  --token-1uSTfyp4lfIX: #383848;
  --plasmic-token-neutral-800: var(--token-1uSTfyp4lfIX);
  --token-b00CkJpArTNv: #48485c;
  --plasmic-token-neutral-700: var(--token-b00CkJpArTNv);
  --token-OcZhic1JWHLk: #5c5d76;
  --plasmic-token-neutral-600: var(--token-OcZhic1JWHLk);
  --token-BdGl7JnjTmMT: #656682;
  --plasmic-token-neutral-500: var(--token-BdGl7JnjTmMT);
  --token-MP4xFq9-O3om: #84859b;
  --plasmic-token-neutral-400: var(--token-MP4xFq9-O3om);
  --token-48N85ygoUhwd: #9898ab;
  --plasmic-token-neutral-300: var(--token-48N85ygoUhwd);
  --token-0zKgsVFZIqDV: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-0zKgsVFZIqDV);
  --token-M1BiTCjiTdgl: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-M1BiTCjiTdgl);
  --token-8FOxeiKddO0J: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-8FOxeiKddO0J);
  --token-losERk0Slcmx: 14px;
  --plasmic-token-body-small: var(--token-losERk0Slcmx);
  --token-X86fRu9HYMkB: 20px;
  --plasmic-token-body-small-2: var(--token-X86fRu9HYMkB);
  --token-_fOyqWH652_y: #01471e;
  --plasmic-token-success-text: var(--token-_fOyqWH652_y);
  --token-fQd0QWze_mYa: #dffbea;
  --plasmic-token-success-bg: var(--token-fQd0QWze_mYa);
  --token-0D_1iyXdWgv6: #aff5cb;
  --plasmic-token-success-200: var(--token-0D_1iyXdWgv6);
  --token-gVqUprb320Xw: #87efb1;
  --plasmic-token-success-300: var(--token-gVqUprb320Xw);
  --token-tSwkm6rQEDjZ: #5fea97;
  --plasmic-token-success-400: var(--token-tSwkm6rQEDjZ);
  --token-qCB5o-mN-7U9: #37e57d;
  --plasmic-token-success-500: var(--token-qCB5o-mN-7U9);
  --token-zmYYnbNNRnb4: #24bf63;
  --plasmic-token-success-600: var(--token-zmYYnbNNRnb4);
  --token-3zZOYeyDXhOg: #159649;
  --plasmic-token-success-700: var(--token-3zZOYeyDXhOg);
  --token-_z5yEKf19qhT: #096e32;
  --plasmic-token-success-800: var(--token-_z5yEKf19qhT);
  --token-VjW54tzy2dOU: #d7faf8;
  --plasmic-token-secondary-100: var(--token-VjW54tzy2dOU);
  --token-Ht_EjFQDDIeq: #aff5f0;
  --plasmic-token-secondary-200: var(--token-Ht_EjFQDDIeq);
  --token-1ASIK08KSi0u: #87efe8;
  --plasmic-token-secondary-300: var(--token-1ASIK08KSi0u);
  --token-i4igjdo1T4km: #5feae1;
  --plasmic-token-secondary-400: var(--token-i4igjdo1T4km);
  --token-mf9ZautzoEAD: #37e5db;
  --plasmic-token-secondary-500: var(--token-mf9ZautzoEAD);
  --token-a1j517FNb8E9: #24bfb5;
  --plasmic-token-secondary-600: var(--token-a1j517FNb8E9);
  --token-ibM9jAh4qBuS: #15968e;
  --plasmic-token-secondary-700: var(--token-ibM9jAh4qBuS);
  --token-2MH4vYutSuxb: #096e67;
  --plasmic-token-secondary-800: var(--token-2MH4vYutSuxb);
  --token-yuAy6cBJkv7F: #014743;
  --plasmic-token-secondary-900: var(--token-yuAy6cBJkv7F);
  --token-aJklvIGnECxl: #d8d8fa;
  --plasmic-token-primary-100: var(--token-aJklvIGnECxl);
  --token-P_WkjYz25HcN: #b0b1f4;
  --plasmic-token-primary-200: var(--token-P_WkjYz25HcN);
  --token-nnRW_cO6CPxp: #898bef;
  --plasmic-token-primary-300: var(--token-nnRW_cO6CPxp);
  --token-164ry3ratqcZ: #6164e9;
  --plasmic-token-primary-400: var(--token-164ry3ratqcZ);
  --token-CzFfOBmmnGwC: #3a3de4;
  --plasmic-token-primary-500: var(--token-CzFfOBmmnGwC);
  --token-6uzmd6lD--nO: #2225bf;
  --plasmic-token-primary-600: var(--token-6uzmd6lD--nO);
  --token-AIESp0dren8F: #141696;
  --plasmic-token-primary-700: var(--token-AIESp0dren8F);
  --token-scQEocv3Y1pV: #08096e;
  --plasmic-token-primary-800: var(--token-scQEocv3Y1pV);
  --token-bRAOeSFzdtNq: #010347;
  --plasmic-token-primary-900: var(--token-bRAOeSFzdtNq);
  --token-LQA8re4HNhXg: #f2f3fd;
  --plasmic-token-primary-050: var(--token-LQA8re4HNhXg);
  --token-2JMbPcO6Mn9M: #faf6d7;
  --plasmic-token-warning-100: var(--token-2JMbPcO6Mn9M);
  --token-ArxSf4v8Z2XE: #f5eeaf;
  --plasmic-token-warning-200: var(--token-ArxSf4v8Z2XE);
  --token-GyZPJW6BHqrH: #efe587;
  --plasmic-token-warning-300: var(--token-GyZPJW6BHqrH);
  --token-AVH2Tdh5v-Yr: #eadd5f;
  --plasmic-token-warning-400: var(--token-AVH2Tdh5v-Yr);
  --token-q-q42XQFVD_3: #e5d437;
  --plasmic-token-warning-500: var(--token-q-q42XQFVD_3);
  --token-N5ryKIs6XgIN: #bfb024;
  --plasmic-token-warning-600: var(--token-N5ryKIs6XgIN);
  --token-4KI_MUgQ21Cn: #998c15;
  --plasmic-token-warning-700: var(--token-4KI_MUgQ21Cn);
  --token-UW63v01GR6ZI: #6e6408;
  --plasmic-token-warning-800: var(--token-UW63v01GR6ZI);
  --token-_AOdGWEPRfrh: #383302;
  --plasmic-token-warning-900: var(--token-_AOdGWEPRfrh);
  --token-oY2Wc1uSrIi-: #fad7d7;
  --plasmic-token-danger-100: var(--token-oY2Wc1uSrIi-);
  --token-2i64IfIzVfVI: #f18787;
  --plasmic-token-danger-300: var(--token-2i64IfIzVfVI);
  --token-winw0rXxS3jO: #f6afaf;
  --plasmic-token-danger-200: var(--token-winw0rXxS3jO);
  --token-KL8FuBgxgUZi: #ed6060;
  --plasmic-token-danger-400: var(--token-KL8FuBgxgUZi);
  --token-k8DL4zGLTd59: #e83838;
  --plasmic-token-danger-500: var(--token-k8DL4zGLTd59);
  --token-mz2sXBKPYEMm: #c22525;
  --plasmic-token-danger-600: var(--token-mz2sXBKPYEMm);
  --token-p6MFQZXCe79R: #9c1616;
  --plasmic-token-danger-700: var(--token-p6MFQZXCe79R);
  --token-fW9-xLMozK5_: #6b0707;
  --plasmic-token-danger-800: var(--token-fW9-xLMozK5_);
  --token-c3aOtZo_0bGn: #360202;
  --plasmic-token-danger-900: var(--token-c3aOtZo_0bGn);
  --token-ZTSVpUHIZ3Cg: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-ZTSVpUHIZ3Cg);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MoZFh9Z2gV-Y_font-family: "Inter", sans-serif;
  --mixin-MoZFh9Z2gV-Y_font-size: 14px;
  --mixin-MoZFh9Z2gV-Y_font-weight: 400;
  --mixin-MoZFh9Z2gV-Y_font-style: normal;
  --mixin-MoZFh9Z2gV-Y_color: var(--token-48N85ygoUhwd);
  --mixin-MoZFh9Z2gV-Y_text-align: left;
  --mixin-MoZFh9Z2gV-Y_text-transform: none;
  --mixin-MoZFh9Z2gV-Y_line-height: 21px;
  --mixin-MoZFh9Z2gV-Y_letter-spacing: -0.6%;
  --mixin-MoZFh9Z2gV-Y_white-space: pre-wrap;
  --mixin-MoZFh9Z2gV-Y_user-select: text;
  --mixin-MoZFh9Z2gV-Y_text-decoration-line: none;
  --mixin-MoZFh9Z2gV-Y_text-overflow: clip;
  --mixin-AB7L1auXFbsA_color: var(--token-VMQJ9K_NViam);
  --mixin-AB7L1auXFbsA_font-weight: 600;
  --mixin-AB7L1auXFbsA_font-size: 26px;
  --mixin-AB7L1auXFbsA_line-height: 32px;
  --mixin-AB7L1auXFbsA_letter-spacing: -1%;
  --mixin-AB7L1auXFbsA_white-space: pre-wrap;
  --mixin-uXh5L7wI2B-o_color: var(--token-VMQJ9K_NViam);
  --mixin-uXh5L7wI2B-o_font-size: 23px;
  --mixin-uXh5L7wI2B-o_font-weight: 700;
  --mixin-uXh5L7wI2B-o_line-height: 28px;
  --mixin-uXh5L7wI2B-o_font-family: "Inter", sans-serif;
  --mixin-uXh5L7wI2B-o_letter-spacing: -1%;
  --mixin-uXh5L7wI2B-o_white-space: pre-wrap;
  --mixin-55gtcWBfw--p_color: #0070f3;
  --mixin-55gtcWBfw--p_white-space: pre-wrap;
  --mixin-4Cz_3kpwi4rg_color: var(--token-VMQJ9K_NViam);
  --mixin-4Cz_3kpwi4rg_font-size: 20px;
  --mixin-4Cz_3kpwi4rg_font-weight: 700;
  --mixin-4Cz_3kpwi4rg_line-height: 24px;
  --mixin-4Cz_3kpwi4rg_letter-spacing: -1%;
  --mixin-4Cz_3kpwi4rg_font-family: "Inter", sans-serif;
  --mixin-4Cz_3kpwi4rg_white-space: pre-wrap;
  --mixin-ue3361BBdF3x_color: var(--token-VMQJ9K_NViam);
  --mixin-ue3361BBdF3x_font-size: 18px;
  --mixin-ue3361BBdF3x_font-weight: 700;
  --mixin-ue3361BBdF3x_line-height: 24px;
  --mixin-ue3361BBdF3x_letter-spacing: -1%;
  --mixin-ue3361BBdF3x_font-family: "Inter", sans-serif;
  --mixin-ue3361BBdF3x_white-space: pre-wrap;
  --mixin-XPqEdyMSj1C2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XPqEdyMSj1C2_border-bottom-color: #dddddd;
  --mixin-XPqEdyMSj1C2_border-bottom-style: solid;
  --mixin-XPqEdyMSj1C2_border-bottom-width: 1px;
  --mixin-XPqEdyMSj1C2_border-left-color: #dddddd;
  --mixin-XPqEdyMSj1C2_border-left-style: solid;
  --mixin-XPqEdyMSj1C2_border-left-width: 1px;
  --mixin-XPqEdyMSj1C2_border-right-color: #dddddd;
  --mixin-XPqEdyMSj1C2_border-right-style: solid;
  --mixin-XPqEdyMSj1C2_border-right-width: 1px;
  --mixin-XPqEdyMSj1C2_border-top-color: #dddddd;
  --mixin-XPqEdyMSj1C2_border-top-style: solid;
  --mixin-XPqEdyMSj1C2_border-top-width: 1px;
  --mixin-XPqEdyMSj1C2_border-bottom-left-radius: 3px;
  --mixin-XPqEdyMSj1C2_border-bottom-right-radius: 3px;
  --mixin-XPqEdyMSj1C2_border-top-left-radius: 3px;
  --mixin-XPqEdyMSj1C2_border-top-right-radius: 3px;
  --mixin-XPqEdyMSj1C2_font-family: "Inconsolata";
  --mixin-XPqEdyMSj1C2_padding-bottom: 1px;
  --mixin-XPqEdyMSj1C2_padding-left: 4px;
  --mixin-XPqEdyMSj1C2_padding-right: 4px;
  --mixin-XPqEdyMSj1C2_padding-top: 1px;
  --mixin-XPqEdyMSj1C2_white-space: pre-wrap;
  --mixin-lZtvaADtFAOW_border-left-color: #dddddd;
  --mixin-lZtvaADtFAOW_border-left-style: solid;
  --mixin-lZtvaADtFAOW_border-left-width: 3px;
  --mixin-lZtvaADtFAOW_color: #888888;
  --mixin-lZtvaADtFAOW_padding-left: 10px;
  --mixin-lZtvaADtFAOW_white-space: pre-wrap;
  --mixin-Ec0XAWrqgpkF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Ec0XAWrqgpkF_border-bottom-color: #dddddd;
  --mixin-Ec0XAWrqgpkF_border-bottom-style: solid;
  --mixin-Ec0XAWrqgpkF_border-bottom-width: 1px;
  --mixin-Ec0XAWrqgpkF_border-left-color: #dddddd;
  --mixin-Ec0XAWrqgpkF_border-left-style: solid;
  --mixin-Ec0XAWrqgpkF_border-left-width: 1px;
  --mixin-Ec0XAWrqgpkF_border-right-color: #dddddd;
  --mixin-Ec0XAWrqgpkF_border-right-style: solid;
  --mixin-Ec0XAWrqgpkF_border-right-width: 1px;
  --mixin-Ec0XAWrqgpkF_border-top-color: #dddddd;
  --mixin-Ec0XAWrqgpkF_border-top-style: solid;
  --mixin-Ec0XAWrqgpkF_border-top-width: 1px;
  --mixin-Ec0XAWrqgpkF_border-bottom-left-radius: 3px;
  --mixin-Ec0XAWrqgpkF_border-bottom-right-radius: 3px;
  --mixin-Ec0XAWrqgpkF_border-top-left-radius: 3px;
  --mixin-Ec0XAWrqgpkF_border-top-right-radius: 3px;
  --mixin-Ec0XAWrqgpkF_font-family: "Inconsolata";
  --mixin-Ec0XAWrqgpkF_padding-bottom: 3px;
  --mixin-Ec0XAWrqgpkF_padding-left: 6px;
  --mixin-Ec0XAWrqgpkF_padding-right: 6px;
  --mixin-Ec0XAWrqgpkF_padding-top: 3px;
  --mixin-Ec0XAWrqgpkF_white-space: pre-wrap;
  --mixin-r96ZKiIBiuIg_display: flex;
  --mixin-r96ZKiIBiuIg_flex-direction: column;
  --mixin-r96ZKiIBiuIg_align-items: stretch;
  --mixin-r96ZKiIBiuIg_justify-content: flex-start;
  --mixin-r96ZKiIBiuIg_list-style-position: outside;
  --mixin-r96ZKiIBiuIg_padding-left: 40px;
  --mixin-r96ZKiIBiuIg_position: relative;
  --mixin-r96ZKiIBiuIg_list-style-type: disc;
  --mixin-r96ZKiIBiuIg_white-space: pre-wrap;
  --mixin-PEuY8h6xCqlT_display: flex;
  --mixin-PEuY8h6xCqlT_flex-direction: column;
  --mixin-PEuY8h6xCqlT_align-items: stretch;
  --mixin-PEuY8h6xCqlT_justify-content: flex-start;
  --mixin-PEuY8h6xCqlT_list-style-position: outside;
  --mixin-PEuY8h6xCqlT_padding-left: 40px;
  --mixin-PEuY8h6xCqlT_position: relative;
  --mixin-PEuY8h6xCqlT_list-style-type: decimal;
  --mixin-PEuY8h6xCqlT_white-space: pre-wrap;
  --mixin-hmHtF1GGFSH8_color: var(--token-1uSTfyp4lfIX);
  --mixin-hmHtF1GGFSH8_font-size: 16px;
  --mixin-hmHtF1GGFSH8_font-weight: 600;
  --mixin-hmHtF1GGFSH8_line-height: 20px;
  --mixin-hmHtF1GGFSH8_letter-spacing: -1%;
  --mixin-hmHtF1GGFSH8_font-family: "Inter", sans-serif;
  --mixin-hmHtF1GGFSH8_white-space: pre-wrap;
  --mixin-B7EcLHXRloyw_color: var(--token-VMQJ9K_NViam);
  --mixin-B7EcLHXRloyw_font-size: 14px;
  --mixin-B7EcLHXRloyw_font-weight: 600;
  --mixin-B7EcLHXRloyw_line-height: 20px;
  --mixin-B7EcLHXRloyw_letter-spacing: 1%;
  --mixin-B7EcLHXRloyw_font-family: "Inter", sans-serif;
  --mixin-B7EcLHXRloyw_white-space: pre-wrap;
  --mixin-9JpESgwA7mHR_color: #3291ff;
  --mixin-9JpESgwA7mHR_white-space: pre-wrap;
  --mixin-aNC4yiQPIpez_white-space: pre-wrap;
  --mixin-FTxtqcmcoa28_color: var(--token-b00CkJpArTNv);
  --mixin-FTxtqcmcoa28_font-family: "Inter", sans-serif;
  --mixin-FTxtqcmcoa28_font-weight: 500;
  --mixin-FTxtqcmcoa28_font-size: 16px;
  --mixin-FTxtqcmcoa28_line-height: 24px;
  --mixin-FTxtqcmcoa28_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-kpms5bTJXVBa_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-kpms5bTJXVBa_white-space);
  --mixin-lKAlIm_TVaDP_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-lKAlIm_TVaDP_white-space);
  --mixin-HWJgqBOq8VtC_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-HWJgqBOq8VtC_box-shadow);
  --mixin-HWJgqBOq8VtC_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-HWJgqBOq8VtC_white-space
  );
  --mixin-kgfrXv0WQxnb_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-kgfrXv0WQxnb_white-space);
  --mixin-ZLVusJPvIvSP_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-ZLVusJPvIvSP_white-space);
  --mixin-yXYKu_1PM027_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-yXYKu_1PM027_box-shadow
  );
  --mixin-yXYKu_1PM027_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-yXYKu_1PM027_white-space
  );
  --mixin-c-DLCSFF5mx-_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-c-DLCSFF5mx-_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MoZFh9Z2gV-Y_font-family);
  font-size: var(--mixin-MoZFh9Z2gV-Y_font-size);
  font-weight: var(--mixin-MoZFh9Z2gV-Y_font-weight);
  font-style: var(--mixin-MoZFh9Z2gV-Y_font-style);
  color: var(--mixin-MoZFh9Z2gV-Y_color);
  text-align: var(--mixin-MoZFh9Z2gV-Y_text-align);
  text-transform: var(--mixin-MoZFh9Z2gV-Y_text-transform);
  line-height: var(--mixin-MoZFh9Z2gV-Y_line-height);
  letter-spacing: var(--mixin-MoZFh9Z2gV-Y_letter-spacing);
  white-space: var(--mixin-MoZFh9Z2gV-Y_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-AB7L1auXFbsA_color);
  font-weight: var(--mixin-AB7L1auXFbsA_font-weight);
  font-size: var(--mixin-AB7L1auXFbsA_font-size);
  line-height: var(--mixin-AB7L1auXFbsA_line-height);
  letter-spacing: var(--mixin-AB7L1auXFbsA_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-uXh5L7wI2B-o_color);
  font-size: var(--mixin-uXh5L7wI2B-o_font-size);
  font-weight: var(--mixin-uXh5L7wI2B-o_font-weight);
  line-height: var(--mixin-uXh5L7wI2B-o_line-height);
  font-family: var(--mixin-uXh5L7wI2B-o_font-family);
  letter-spacing: var(--mixin-uXh5L7wI2B-o_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-55gtcWBfw--p_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-4Cz_3kpwi4rg_color);
  font-size: var(--mixin-4Cz_3kpwi4rg_font-size);
  font-weight: var(--mixin-4Cz_3kpwi4rg_font-weight);
  line-height: var(--mixin-4Cz_3kpwi4rg_line-height);
  letter-spacing: var(--mixin-4Cz_3kpwi4rg_letter-spacing);
  font-family: var(--mixin-4Cz_3kpwi4rg_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ue3361BBdF3x_color);
  font-size: var(--mixin-ue3361BBdF3x_font-size);
  font-weight: var(--mixin-ue3361BBdF3x_font-weight);
  line-height: var(--mixin-ue3361BBdF3x_line-height);
  letter-spacing: var(--mixin-ue3361BBdF3x_letter-spacing);
  font-family: var(--mixin-ue3361BBdF3x_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XPqEdyMSj1C2_font-family);
  border-radius: var(--mixin-XPqEdyMSj1C2_border-top-left-radius)
    var(--mixin-XPqEdyMSj1C2_border-top-right-radius)
    var(--mixin-XPqEdyMSj1C2_border-bottom-right-radius)
    var(--mixin-XPqEdyMSj1C2_border-bottom-left-radius);
  padding: var(--mixin-XPqEdyMSj1C2_padding-top)
    var(--mixin-XPqEdyMSj1C2_padding-right)
    var(--mixin-XPqEdyMSj1C2_padding-bottom)
    var(--mixin-XPqEdyMSj1C2_padding-left);
  border-top: var(--mixin-XPqEdyMSj1C2_border-top-width)
    var(--mixin-XPqEdyMSj1C2_border-top-style)
    var(--mixin-XPqEdyMSj1C2_border-top-color);
  border-right: var(--mixin-XPqEdyMSj1C2_border-right-width)
    var(--mixin-XPqEdyMSj1C2_border-right-style)
    var(--mixin-XPqEdyMSj1C2_border-right-color);
  border-bottom: var(--mixin-XPqEdyMSj1C2_border-bottom-width)
    var(--mixin-XPqEdyMSj1C2_border-bottom-style)
    var(--mixin-XPqEdyMSj1C2_border-bottom-color);
  border-left: var(--mixin-XPqEdyMSj1C2_border-left-width)
    var(--mixin-XPqEdyMSj1C2_border-left-style)
    var(--mixin-XPqEdyMSj1C2_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-lZtvaADtFAOW_color);
  padding-left: var(--mixin-lZtvaADtFAOW_padding-left);
  border-left: var(--mixin-lZtvaADtFAOW_border-left-width)
    var(--mixin-lZtvaADtFAOW_border-left-style)
    var(--mixin-lZtvaADtFAOW_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Ec0XAWrqgpkF_font-family);
  border-radius: var(--mixin-Ec0XAWrqgpkF_border-top-left-radius)
    var(--mixin-Ec0XAWrqgpkF_border-top-right-radius)
    var(--mixin-Ec0XAWrqgpkF_border-bottom-right-radius)
    var(--mixin-Ec0XAWrqgpkF_border-bottom-left-radius);
  padding: var(--mixin-Ec0XAWrqgpkF_padding-top)
    var(--mixin-Ec0XAWrqgpkF_padding-right)
    var(--mixin-Ec0XAWrqgpkF_padding-bottom)
    var(--mixin-Ec0XAWrqgpkF_padding-left);
  border-top: var(--mixin-Ec0XAWrqgpkF_border-top-width)
    var(--mixin-Ec0XAWrqgpkF_border-top-style)
    var(--mixin-Ec0XAWrqgpkF_border-top-color);
  border-right: var(--mixin-Ec0XAWrqgpkF_border-right-width)
    var(--mixin-Ec0XAWrqgpkF_border-right-style)
    var(--mixin-Ec0XAWrqgpkF_border-right-color);
  border-bottom: var(--mixin-Ec0XAWrqgpkF_border-bottom-width)
    var(--mixin-Ec0XAWrqgpkF_border-bottom-style)
    var(--mixin-Ec0XAWrqgpkF_border-bottom-color);
  border-left: var(--mixin-Ec0XAWrqgpkF_border-left-width)
    var(--mixin-Ec0XAWrqgpkF_border-left-style)
    var(--mixin-Ec0XAWrqgpkF_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-r96ZKiIBiuIg_display);
  flex-direction: var(--mixin-r96ZKiIBiuIg_flex-direction);
  align-items: var(--mixin-r96ZKiIBiuIg_align-items);
  justify-content: var(--mixin-r96ZKiIBiuIg_justify-content);
  list-style-position: var(--mixin-r96ZKiIBiuIg_list-style-position);
  padding-left: var(--mixin-r96ZKiIBiuIg_padding-left);
  position: var(--mixin-r96ZKiIBiuIg_position);
  list-style-type: var(--mixin-r96ZKiIBiuIg_list-style-type);
  flex-column-gap: var(--mixin-r96ZKiIBiuIg_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-PEuY8h6xCqlT_display);
  flex-direction: var(--mixin-PEuY8h6xCqlT_flex-direction);
  align-items: var(--mixin-PEuY8h6xCqlT_align-items);
  justify-content: var(--mixin-PEuY8h6xCqlT_justify-content);
  list-style-position: var(--mixin-PEuY8h6xCqlT_list-style-position);
  padding-left: var(--mixin-PEuY8h6xCqlT_padding-left);
  position: var(--mixin-PEuY8h6xCqlT_position);
  list-style-type: var(--mixin-PEuY8h6xCqlT_list-style-type);
  flex-column-gap: var(--mixin-PEuY8h6xCqlT_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-hmHtF1GGFSH8_color);
  font-size: var(--mixin-hmHtF1GGFSH8_font-size);
  font-weight: var(--mixin-hmHtF1GGFSH8_font-weight);
  line-height: var(--mixin-hmHtF1GGFSH8_line-height);
  letter-spacing: var(--mixin-hmHtF1GGFSH8_letter-spacing);
  font-family: var(--mixin-hmHtF1GGFSH8_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-B7EcLHXRloyw_color);
  font-size: var(--mixin-B7EcLHXRloyw_font-size);
  font-weight: var(--mixin-B7EcLHXRloyw_font-weight);
  line-height: var(--mixin-B7EcLHXRloyw_line-height);
  letter-spacing: var(--mixin-B7EcLHXRloyw_letter-spacing);
  font-family: var(--mixin-B7EcLHXRloyw_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-9JpESgwA7mHR_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-FTxtqcmcoa28_color);
  font-family: var(--mixin-FTxtqcmcoa28_font-family);
  font-weight: var(--mixin-FTxtqcmcoa28_font-weight);
  font-size: var(--mixin-FTxtqcmcoa28_font-size);
  line-height: var(--mixin-FTxtqcmcoa28_line-height);
}
